## Coded by Frank Zhao

In [1]:
import json
from pprint import pprint
import glob
from datetime import datetime
import requests
import pandas as pd
import numpy as np

In [30]:
for_sale = pd.read_csv('./data/update_df.csv')
hist_p2 = pd.read_csv("E:\Projects\Drexel\DSCI 591 Capstone I\Projects\data\hist_price_total\hist_price_part2.csv")

In [5]:
for_sale.head()

,property_id,prop_type,prop_sub_type,prop_status,price,baths_full,baths,beds,last_update,photo_count,...,state_code,county,lat,lon,neighborhood_name,buiding_size(sqft),lot_size(sqft),agent_id,agent_name,brand_name
0,M4046594895,condo,duplex_triplex,for_sale,249900,3.0,3,6.0,2020-10-13T17:54:05Z,9,...,PA,Philadelphia,39.974408,-75.243700,West Philadelphia,1632.0,1842.0,1291281.0,Ausra Anusauskas,Archstone Realty
1,M3939384476,condo,townhomes,for_sale,116800,1.0,1,3.0,2020-10-13T18:18:18Z,7,...,PA,Philadelphia,39.926283,-75.225382,Southwest Philadelphia,1092.0,992.0,347285.0,Dr Hanh Vo,Vihi Realty
2,M4036371277,condo,townhomes,for_sale,215000,1.0,2,3.0,2020-10-13T17:24:20Z,35,...,PA,Philadelphia,40.039721,-75.142100,Upper North District,1360.0,1501.0,NaN,Kevin Chen,Premium Realty Castor Inc
3,M3553029343,single_family,NaN,for_sale,394800,1.0,2,3.0,2020-10-13T17:11:54Z,123,...,PA,Philadelphia,40.071978,-75.073303,Near Northeast Philadelphia,1856.0,15913.0,4759.0,Carol Mallen,Re/Max Services
4,M3649199107,condo,townhomes,for_sale,130000,1.0,2,3.0,2020-10-13T17:02:13Z,33,...,PA,Philadelphia,40.012784,-75.156405,Upper North Philadelphia,1180.0,1240.0,391546.0,Maria Quattrone CEO,Re/Max @ Home - Philadelphia

## Part II

In [6]:
hist_p2.head()

,property_id,event_name,date,price,price_range_min,price_range_max,price_changed,sqft,datasource_name,source,listing,iso_date,previous_event_price,listing_id
0,M3603156744,Listed,2020-07-28T17:00:00Z,439000,NaN,NaN,0,1211,BrightMLS,MLS #PAPH919538,NaN,NaN,NaN,NaN
1,M3603156744,Listed,2019-03-06T17:00:00Z,415000,NaN,NaN,0,1211,BrightMLS,MLS #PAPH723786,NaN,NaN,NaN,NaN
2,M3603156744,Price Changed,2010-07-23T17:00:00Z,331415,NaN,NaN,38990,1211,BrightMLS,MLS #5659515,NaN,NaN,NaN,NaN
3,M3603156744,Listed,2010-02-15T17:00:00Z,292425,NaN,NaN,0,1211,BrightMLS,MLS #5659515,NaN,NaN,NaN,NaN
4,M3603156744,Listed,2008-08-08T17:00:00Z,389900,NaN,NaN,0,1211,BrightMLS,MLS #5400762,NaN,NaN,NaN,NaN

In [11]:
# create empty df
hist_p2['postal_code'] = np.NaN

In [49]:
## assign values to hist_p2

for i in range(len(hist_p2['property_id'])):
    hist_p2.at[i, 'postal_code'] = zip_dict[hist_p2.iloc[i]['property_id']]

In [50]:
hist_p2.head()

,property_id,event_name,date,price,price_range_min,price_range_max,price_changed,sqft,datasource_name,source,listing,iso_date,previous_event_price,listing_id,postal_code
0,M3603156744,Listed,2020-07-28T17:00:00Z,439000,NaN,NaN,0,1211,BrightMLS,MLS #PAPH919538,NaN,NaN,NaN,NaN,19125
1,M3603156744,Listed,2019-03-06T17:00:00Z,415000,NaN,NaN,0,1211,BrightMLS,MLS #PAPH723786,NaN,NaN,NaN,NaN,19125
2,M3603156744,Price Changed,2010-07-23T17:00:00Z,331415,NaN,NaN,38990,1211,BrightMLS,MLS #5659515,NaN,NaN,NaN,NaN,19125
3,M3603156744,Listed,2010-02-15T17:00:00Z,292425,NaN,NaN,0,1211,BrightMLS,MLS #5659515,NaN,NaN,NaN,NaN,19125
4,M3603156744,Listed,2008-08-08T17:00:00Z,389900,NaN,NaN,0,1211,BrightMLS,MLS #5400762,NaN,NaN,NaN,NaN,19125

In [45]:
hist_p2['postal_code'] = hist_p2['postal_code'].astype(int)

In [51]:
hist_p2['postal_code'].unique()

array([19125, 19145, 19132, 19133, 19128, 19143, 19122, 19134, 19146,
       19124, 19121, 19119, 19130, 19104, 19141, 19154, 19140, 19147,
       19144, 19103, 19131, 19120, 19107, 19123, 19139, 19149, 19138,
       19127, 19115, 19148, 19114, 19116, 19150, 19151, 19136, 19135,
       19152, 19111, 19106, 19102, 19118, 19129, 19142, 19137, 19153,
       19126])

In [52]:
len(hist_p2['postal_code'])

28977

# All files together

In [53]:
hist_all = pd.read_csv("E:\Projects\Drexel\DSCI 591 Capstone I\Projects\data\hist_price_total\hist_price_all.csv")

In [54]:
# create empty df
hist_all['postal_code'] = np.NaN

In [55]:
%%time
## assign values to hist_p2
for i in range(len(hist_all['property_id'])):
    hist_all.at[i, 'postal_code'] = zip_dict[hist_all.iloc[i]['property_id']]

Wall time: 8.49 s

In [57]:
hist_all['postal_code'] = hist_all['postal_code'].astype(int)

In [63]:
# hist_all.to_csv(f'.\data\hist_price_total\hist_price_with_zip.csv',encoding='utf-8', index=False)